# Toggle mock/real data (true or false)
VITE_USE_MOCK=true

# Backend API base URL (ignored in mock mode)
VITE_API_BASE_URL=http://localhost:8000/api


## Pure Mock Debugging
# .env.development.mock
# npm run dev:mock | npm run dev
VITE_USE_MOCK=true
VITE_API_BASE_URL=<ignored>

## Local Joint Debugging
# .env.development.local
# npm run dev:local
VITE_USE_MOCK=false
VITE_API_BASE_URL=<localhost backend ip>

## Remote Dev Debugging
# .env.development.real
# npm run dev:real
VITE_USE_MOCK=false
VITE_API_BASE_URL=<real backend ip>

## Production Build
# .env.production
# npm run build
VITE_USE_MOCK=false
VITE_API_BASE_URL=<real backend ip>
