# Toggle mock/real data (true or false)
VITE_USE_MOCK=true

# Backend API base URL (ignored in mock mode)
VITE_API_BASE_URL=http://localhost:8000/api


## Pure Mock Debugging
VITE_USE_MOCK=true
VITE_API_BASE_URL=<ignored>

## Local Joint Debugging
VITE_USE_MOCK=false
VITE_API_BASE_URL=<localhost backend ip>

## Remote Dev Debugging
VITE_USE_MOCK=false
VITE_API_BASE_URL=<real backend ip>

## Production Build
VITE_USE_MOCK=false
VITE_API_BASE_URL=<real backend ip>
