# Toggle mock/real data (true or false)
VITE_USE_MOCK=true

# Backend API base URL (ignored in mock mode)
VITE_API_BASE_URL=http://localhost:8080/api

# Google Maps API key. Required for map rendering.
VITE_GOOGLE_MAPS_API_KEY=CHANGE_ME


## Pure Mock Debugging
# .env.development.mock
# npm run dev:mock | npm run dev
VITE_USE_MOCK=true
VITE_API_BASE_URL=<ignored>
VITE_GOOGLE_MAPS_API_KEY=

## Local Joint Debugging
# .env.development.local
# npm run dev:local
VITE_USE_MOCK=false
VITE_API_BASE_URL=http://localhost:8080/api
VITE_GOOGLE_MAPS_API_KEY=CHANGE_ME

## Remote Dev Debugging
# .env.development.real
# npm run dev:real
VITE_USE_MOCK=false
VITE_API_BASE_URL=<real backend ip>
VITE_GOOGLE_MAPS_API_KEY=CHANGE_ME

## Production Build
# .env.production
# npm run build
VITE_USE_MOCK=false
VITE_API_BASE_URL=<real backend ip>
VITE_GOOGLE_MAPS_API_KEY=CHANGE_ME
